<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <title>Debug</title>
</head>

<body>
    <div id="main">
        <div id="navbar">
            <ul>
                <li><a id="Home" href="/">Home</a></li>
                <li><a id="Store Data" href="/store">Store</a></li>
                <li><a id="Encrypted Flag" href="/flag">Encrypted Flag</a></li>
            </ul>
        </div>
        <br><br><br><br>
        </div>

    <h1 style="text-align: center;">Data Storage Service!</h1>

    <div style="font-size: 20px; width: 30%; margin: 0 auto;">
        <br>I'm so confident in the security of my system that I'll even give you the encrypted flag I sent to it earlier!</br> 
        <br>Encrypted using AES-CBC, with IV prepended! Hex of ciphertext was:</br> 

        <br>{{ hexflag }}</br>

       
    </div>
</body>

</html>