<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <title>Debug</title>
</head>

<body>
    <div id="main">
        <div id="navbar">
            <ul>
                <li><a id="Home" href="/">Home</a></li>
                <li><a id="Store Data" href="/store">Store</a></li>
                <li><a id="Encrypted Flag" href="/flag">Encrypted Flag</a></li>
            </ul>
        </div>
        <br><br><br><br>
        </div>

    <h1 style="text-align: center;">Data Storage Service!</h1>

    <div style="font-size: 20px; width: 30%; margin: 0 auto;">
        <br>A real hacker knows that Big Data and the government have backdoored all publicly available storage providers!</br> 
        <br>As such, I've created my very own service, where i encrypt my data, and submit it to this website, where an unpaid intern receives it, decrypts it, and backs up shares of it on multiple redundant servers!</br> 
        <br>I'm so confident that I'll even share the encryption of the flag that i stored earlier! Good luck learning anything about it though!</br> 
        <br></br>
        <br>Update: Terrible news, cryptogang reached out to me and said lots of scary words like "pading oracle" and "doomed" :psyduck:</br> 
        <br>Update 2: They said the problem users knowing when a decryption failed, so i removed that information! I'm a genius! Systems restored and back online!</br> 
    </div>

       

</body>

</html>